<div class="shadow-xl w-full bg-white pb-5 mb-2 rounded-md">
  <div class="h-[200px] w-full">
    <img [src]="employee.imageUrl" alt="" class="h-full w-full object-cover" />
  </div>
  <h1 class="text-lg font-bold text-black p-2">{{ employee.name }}</h1>
  <p class="text-sm text-black pb-2 px-2 font-bold">
    {{ employee.jobTitle }}
  </p>
  <div class="text-sm text-black pb-2 px-2">
    <p><span class="font-bold">Email:</span> {{ employee.email }}</p>
    <p>
      <span class="font-bold">Phone Number:</span> {{ employee.phoneNumber }}
    </p>
  </div>
  <p class="text-[14px] text-black tracking-wide px-2">
    {{ employee.jobDescription }}
  </p>
</div>
