<div class="w-full relative">
  <!-- modal card -->
  <div class="absolute inset-0" *ngIf="!isModal">
    <div
      class="bg-[rgba(0,0,0,0.6)] h-[100vh] w-full flex items-center justify-center"
    >
      <div
        class="h-5/6 lg:h-4/6 w-5/6 lg:w-3/6 bg-white rounded-lg flex justify-center items-center flex-col"
      >
        <h1 class="text-2xl font-bold text-gray-400">
          Welcome to Company Register
        </h1>
        <h1 class="text-lg text-gray-400 px-5 py-5 font-bold">
          {{ isLoggedTitle }}
        </h1>
        <div class="w-full">
          <form
            (submit)="onCreateAccount()"
            class="px-5 flex flex-wrap gap-x-20"
          >
            <div
              *ngIf="isRegistered"
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Firstname*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="firstname"
                name="firstname"
              />
            </div>
            <div
              *ngIf="isRegistered"
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Lastname*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="lastname"
                name="lastname"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Email Address*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="password"
                placeholder="Password*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="password"
                name="password"
              />
            </div>
            <div class="w-full pb-10">
              <button
                type="submit"
                class="text-white bg-blue-600 font-bold px-5 py-1 rounded-md"
              >
                {{ isLoggedTitle }}
              </button>
            </div>
          </form>
        </div>
        <p *ngIf="isRegistered">
          Already have an
          <span
            class="text-blue-500 cursor-pointer"
            (click)="handleIsRegistered()"
            >Account?</span
          >
        </p>
        <p *ngIf="!isRegistered">
          Create new
          <span
            class="text-blue-500 cursor-pointer"
            (click)="handleIsRegistered()"
            >Account?</span
          >
        </p>
      </div>
    </div>
  </div>
  <!-- card end -->

  <!-- nav bar -->

  <nav
    class="bg-white shadow-xl w-full py-2 lg:px-10 px-5 flex items-center gap-4 lg:gap-10"
  >
    <div class="">
      <h1 class="text-xl text-gray-400 font-bold hidden md:block">
        Company Register
      </h1>
      <h1 class="text-xl text-gray-400 font-bold md:hidden">CR</h1>
    </div>

    <div class="flex-1">
      <form (submit)="onClick('search')">
        <div
          class="lg:w-2/6 md:w-4/6 w-full border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 flex items-center"
        >
          <input
            type="text"
            placeholder="Search Employees"
            class="outline-none w-full bg-gray-200"
            [(ngModel)]="name"
            name="name"
          />
          <button type="submit" class="text-blue-700 hover:text-gray-400">
            <fa-icon
              [icon]="faSearch"
              class="text-xl text-blue-700 hover:text-gray-400"
            ></fa-icon>
          </button>
        </div>
      </form>
    </div>

    <a (click)="onLogout()" class="text-blue-700 hidden lg:block text-xl"
      ><fa-icon [icon]="faSignOut"></fa-icon
    ></a>
    <a href="#" class="lg:hidden text-blue-700 text-xl" (click)="onMobile()"
      ><fa-icon [icon]="faBars"></fa-icon
    ></a>

    <div class="absolute inset-0 lg:hidden" *ngIf="isopen">
      <div class="bg-[rgba(0,0,0,0.6)] h-[100vh] flex">
        <div class="w-4/6 shadow-xl bg-white h-full">
          <div class="flex flex-col gap-5 py-10">
            <button
              (click)="onClick('addcompany')"
              [ngClass]="getActiveClass('addcompany')"
            >
              Add Company
            </button>
            <button
              (click)="onClick('viewcompany')"
              [ngClass]="getActiveClass('viewcompany')"
            >
              View Companies
            </button>
            <button
              (click)="onClick('viewemployees')"
              [ngClass]="getActiveClass('viewemployees')"
            >
              View Employers
            </button>
            <button
              class="text-gray-400 text-xl bg-transparent py-2 hover:text-blue-600 transition-all"
              (click)="onLogout()"
            >
              <fa-icon [icon]="faSignOut"></fa-icon>
            </button>
          </div>
        </div>
        <div class="w-2/6 h-full" (click)="onMobile()"></div>
      </div>
    </div>
  </nav>

  <!-- navbar ends -->
  <div class="h-[93vh] w-full flex overflow-hidden">
    <div class="hidden lg:block lg:w-1/6 shadow-xl bg-white h-full">
      <div class="flex flex-col gap-5 py-10">
        <button
          (click)="onClick('addcompany')"
          [ngClass]="getActiveClass('addcompany')"
        >
          Add Company
        </button>
        <button
          (click)="onClick('viewcompany')"
          [ngClass]="getActiveClass('viewcompany')"
        >
          View Companies
        </button>
        <button
          (click)="onClick('viewemployees')"
          [ngClass]="getActiveClass('viewemployees')"
        >
          View Employers
        </button>
      </div>
    </div>
    <div class="w-full overflow-x-auto bar">
      <div *ngIf="activeTab === 'addcompany'" class="p-10">
        <div class="">
          <h1 class="text-2xl font-bold text-gray-400">Add Company</h1>
        </div>
        <div class="bg-white shadow-lg w-full">
          <h1 class="text-lg text-gray-400 px-5 py-10">Company Details</h1>

          <form
            (submit)="onCompanySubmit()"
            class="px-5 flex flex-wrap gap-x-20"
          >
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Company Name*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="company_name"
                name="company_name"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Company Address*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="company_address"
                name="company_address"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Company Date*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="date"
                name="date"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Industry*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="industry"
                name="industry"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Description*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="description"
                name="description"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="number"
                placeholder="Phone Number*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="phone_number"
                name="phone_number"
              />
            </div>
            <div
              class="w-full lg:w-5/12 border-gray-400 border-[1px] rounded-md p-1 bg-gray-200 my-5"
            >
              <input
                type="text"
                placeholder="Company Image*"
                class="outline-none w-full bg-gray-200 p-1"
                [(ngModel)]="image"
                name="image"
              />
            </div>
            <div class="w-full pb-10">
              <button
                type="submit"
                class="text-white bg-blue-600 font-bold px-5 py-1 rounded-md"
              >
                Send Details
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Card section -->
      <div *ngIf="activeTab === 'viewcompany'" class="p-10">
        <div class="">
          <h1 class="text-2xl font-bold text-gray-400">View Companies</h1>
        </div>
        <div class="bg-white shadow-lg w-full">
          <h1 class="text-lg text-gray-400 px-5 py-10">Company Information</h1>

          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 px-5">
            <app-company-details
              *ngFor="let company of companies; index as i"
              [company]="company"
            >
            </app-company-details>
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 'viewemployees'" class="p-10">
        <div class="">
          <h1 class="text-2xl font-bold text-gray-400">View Employeess</h1>
        </div>
        <div class="bg-white shadow-lg w-full">
          <h1 class="text-lg text-gray-400 px-5 py-10">
            Employees Information
          </h1>

          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 px-5">
            <app-user-details
              *ngFor="let employee of employees; index as i"
              [employee]="employee"
            >
            </app-user-details>
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 'search'" class="p-10">
        <div class="">
          <h1 class="text-2xl font-bold text-gray-400">View Employeess</h1>
        </div>
        <div class="bg-white shadow-lg w-full">
          <h1 class="text-lg text-gray-400 px-5 py-10">
            Employees Information
          </h1>

          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 px-5">
            <app-user-details
              *ngFor="let employee of searchedEmployees; index as i"
              [employee]="employee"
            >
            </app-user-details>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
